<!DOCTYPE html>
<html>
<head>
<title> Joshua Yee </title>

<style>
body {
  background-image: url("background.jpeg");
  background-size: ;
  background-repeat: ;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.centertext{
    display: block;
    margin-left:auto;
    margin-right: inherit;
    width: 69%;
}

.centermain{
  display: block;
  margin-left:50%;
  margin-right: 50%;
  width: auto;
}
.text-shadow{
  2px 2px #ff0000;
}

<h1> {
     text-shadow: 2px 2px #ff0000;}
</style>
<h1 class = "centertext"  style="font-size:60px;"> Joshua Yee</h1>
</head>
<p1><img src="Profile picture.png" class ="center" ></p1>
<body>
  <b class = "center" class = "text-shadow"> My name is Joshua Yee. I am currently a senior at Allegheny College. I expect to receive my bachelor's degree in Computer Science in May of 2018. I am actively seeking employment and new opportunities to grow. <b>
<ensp>

<a href="images/resume-8-slash(1).pdf"><img src="images/test.png" width = "100% class ="center" ></a>
<a href="images/resume-8-slash(1).pdf">Click here to see the resume </a>

<ensp>

<a href="https://www.linkedin.com/in/joshua-yee/"><img src="images/LinkedIn.png" width = "100% class ="center" > Click here to visit my LinkedIn page </a>
<a href="https://github.com/yeej2"><img src="images/github.png" width = "100% class ="center" > Click here to visit my GitHub page </a>
</body>
<html>
